<!-- footer Start -->
<footer>

  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="logo-container">
          <div class="logo">
            <a href="http://example.com"  target="_blank"><img alt="Example logo" src="/img/sample.png"></a>
          </div>

          <div class="logo">
            <a href="http://example.com"  target="_blank"><img alt="Example logo" src="/img/sample.png"></a>
          </div>

          <div class="logo">
            <a href="http://example.com"  target="_blank"><img alt="Example logo" src="/img/sample.png"></a>
          </div>

          <div class="logo">
            <a href="http://example.com"  target="_blank"><img alt="Example logo" src="/img/sample.png"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <p>
            <a href="/files/sample.pdf" target="_blank">Terms of Service</a>,
            <a href="/files/sample.pdf" target="_blank">Privacy &amp; Cookies policy</a>,
            <a href="/acknowledgements">Acknowledgements</a> and
            <a href="/accesibility" target="_blank">Accessibility Statement</a>. Copyright
            <a href="http://edina.ac.uk/" target="_blank">EDINA</a> at the <a href="http://www.ed.ac.uk" target="_blank">University of Edinburgh</a>.
          </p>
          <p>
            The University of Edinburgh is a charitable body, registered in Scotland, with registration number SC005336.
          </p>
        </div>
      </div>
    </div>
  </div>

  <script>new ModalVideo('.js-modal-video');</script>
</footer>
